:root {
  --primary: #49d377;
  --secondary: #8963ba;
  --secondary-dark: #54428e;
  --dark: #1e1e1d;
  --light: #f4ebd9;
  --gray: #a39a92;
  --dark-gray: #62615f;
}

body {
  background: var(--dark);
  font-family: sans-serif;
  letter-spacing: 1px;
}
